{% extends 'base.html' %}

{% load static %}

{% block title %} Plucking Record {% endblock %}

{% block body %}
<div class="container">
    <div class="container fluid">
        <div class="col grid text-right fluid md-4">
            <div class="card border-primary mt-3">
                <div class="card-header">
                    <div class="col grid text-left">
                        <h1 class="text-left mt-5">Plucking Record</h1>
                        <a class="btn btn-warning bg-primary btn-info block-lg" href="">Go To ....
                            </a>
                        <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'psp'%}">Go
                            To Plucking Scheme Program</a>
                        <form method="post" action="">
                            {% csrf_token %}

                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Division Area:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="division_area"
                                       value="{{ divisional_area }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">SD Division Area:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="SD_division_area"
                                       value="{{ sd_percentage }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">VP
                                    Blocks per Zone:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="VP_blocks_per_zone"
                                       value="{{ vp_percentage }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">SD Blocks per Zone:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="SD_blocks_per_zone"
                                       value="{{ vp_blocks_per_zone }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">VP
                                    Zone Size:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="VP_zone_size"
                                       value="{{ sd_blocks_per_zone }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">SD Zone Size:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="SD_zone_size"
                                       value="{{ vp_zone_size }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">VP
                                    Schemes per Division:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00'
                                       name="VP_schemes_per_division"
                                       value="{{ sd_zone_size }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">SD Schemes per
                                    Division:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00'
                                       name="SD_schemes_per_division"
                                       value="{{ vp_schemes_per_division }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">VP
                                    Rounds per Zone:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="VP_rounds_per_zone"
                                       value="{{  sd_schemes_per_division}}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">SD Rounds per Zone:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00' name="SD_rounds_per_zone"
                                       value="{{ vp_rounds_per_zone }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Total Pluckers per
                                    Division:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00'
                                       name="total_pluckers_per_division"
                                       value="{{ sd_rounds_per_zone }}">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Total Supervisors per
                                    Division:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00'
                                       name="total_supervisors_per_division">
                            </div>
                            <div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Total Schemes per
                                    Division:</label>
                                <input type="text" step='0.01' value='0.00' placeholder='0.00'
                                       name="total_schemes_per_division"
                                       value="{{ total_pluckers_per_division }}">
                            </div>


                            {% if data %}
                            <h2 class="text-center mt-5">Plucking Planner Record Results</h2>
                            <div class="container fluid">
                                <div class="col grid text-center">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Data</th>
                                            <th scope="col">Result</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in data %}
                                        <tr>
                                            <td>{{ row.0 }}</td>
                                            <td>{{ row.1 }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    {% endif %}

                                    <div>
                                        <button type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Add more input fields here -->

                        </form>
                    </div>
                </div>
            </div>


            {% if data %}
            <h2>Tea Plucking Planner Results</h2>
            <table>
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
