{% extends 'base.html' %}

{% load static %}

{% block title %}Plucking Create{% endblock %}

{% block body %}
<div class="container fluid">
    <div class="card border-primary mt-3">
        <div class="card-header">
            <div class="col grid text-left">
                <div class="col grid text-left">
                    <h1 class="text-left mt-5">Create Division Data</h1>
                    <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'plucking-planner' %}">Go
                        Back</a>
                    <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'plucking-planner-view' %}">Go
                        To Plucking Planner Record</a>
                    <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'psp' %}">Go To Plucking Scheme
                        Program</a>
                    <form method="post" action="{% url 'plucking-create' %}">
                        {% csrf_token %}
                        <label for="division_area">Division Area:</label>
                        <input type="number" name="division_area" required><br><br>

                        <label for="vp_percentage">VP Percentage:</label>
                        <input type="number" name="vp_percentage" required><br><br>

                        <label for="sd_percentage">SD Percentage:</label>
                        <input type="number" name="sd_percentage" required><br><br>

                        <label for="month">Month:</label>
                        <input type="text" name="month" required><br><br>

                        <label for="vp_division_area">VP Division Area:</label>
                        <input type="number" name="vp_division_area" required><br><br>

                        <label for="sd_division_area">SD Division Area:</label>
                        <input type="number" name="sd_division_area" required><br><br>

                        <label for="vp_blocks_per_zone">VP Blocks per Zone:</label>
                        <input type="number" name="vp_blocks_per_zone" required><br><br>

                        <label for="sd_blocks_per_zone">SD Blocks per Zone:</label>
                        <input type="number" name="sd_blocks_per_zone" required><br><br>

                        <label for="vp_zone_size">VP Zone Size:</label>
                        <input type="number" name="vp_zone_size" required><br><br>

                        <label for="sd_zone_size">SD Zone Size:</label>
                        <input type="number" name="sd_zone_size" required><br><br>

                        <label for="vp_schemes_per_division">VP Schemes per Division:</label>
                        <input type="number" name="vp_schemes_per_division" required><br><br>

                        <label for="sd_schemes_per_division">SD Schemes per Division:</label>
                        <input type="number" name="sd_schemes_per_division" required><br><br>

                        <label for="vp_rounds_per_zone">VP Rounds per Zone:</label>
                        <input type="number" name="vp_rounds_per_zone" required><br><br>

                        <label for="sd_rounds_per_zone">SD Rounds per Zone:</label>
                        <input type="number" name="sd_rounds_per_zone" required><br><br>

                        <label for="total_pluckers_per_division">Total Pluckers per Division:</label>
                        <input type="number" name="total_pluckers_per_division" required><br><br>

                        <label for="total_supervisors_per_division">Total Supervisors per Division:</label>
                        <input type="number" name="total_supervisors_per_division" required><br><br>

                        <label for="total_schemes_per_division">Total Schemes per Division:</label>
                        <input type="number" name="total_schemes_per_division" required><br><br>

                        <input type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
