
      h1 {

      color: navy blue;

      }

     h2 {

      color:  #0d0a80;

      }

     h3 {

      color:  purple;

      }

      h4 {

      color:  indigo;

      }h5 {

      color: green;

      }

      P { font-size: 10pt; }

      p { color: navy blue; }

     body {
     background-color: beige;
     }

   .my-card:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}


    .btn {
    border-radius: 10px;
    }