{% extends 'base.html' %}

{% load static %}

{% block title %}Tea Growing Cycle{% endblock %}
<title>Tea Growing Cycle</title>


<title>Growing Cycle Record</title>
{% block body %}
<div class="row g-4 d-flex align-items-center">
    <div class="col-lg-0 d-none d-lg-flex">
        <div class="container-fluid text-right card card-light mx-2 px-2 my-2 py-2"
             style="background-color: rgba(13, 70, 10, 1); border-radius: 20px">
            <div class="card-body">
                <div class=" bg-light h1 text-center" style="border-radius: 20px; text: bold;">Growing Cycle Record
                </div>
                <div class=" text-light  text-center" style="border-radius: 20px; text: bold;">
                    <a href="{% url 'growing-cycle-update' %}"
                       class="btn btn-warning bg-primary block-lg text-light">Add</a>
                    <a class="btn btn-Primary bg-primary btn-info block-lg" href="{% url 'roundsmonitor-record' %}">Go
                        To RoundsMonitor</a>
                    <a class="btn btn-Primary bg-primary btn-info block-lg" href="{% url 'programmedscheme-record' %}">Go
                        To PS Record</a>
                    <a class="btn btn-Primary bg-primary btn-info block-lg" href="{% url 'psp-dashboard' %}">Go To
                        Dashboard</a>
                    <a class="btn btn-Primary bg-primary btn-info block-lg" href="{% url 'psp-graphs' %}">Go To
                        Graphs</a>
                    <div class="container-fluid text-light card card-light mx-0 px-0 my-0 py-0"
                         style="background-color: rgba(113, 170, 10, 1); border-radius: 20px">
                        <h1>Growing Cycle</h1>


                        <table>
                            <thead>
                            <tr>
                                <th>Zone</th>
                                <th>Fields</th>
                                <th>Growing Days</th>
                                <th>CF</th>
                                <th>Date</th>
                                <th>Balance</th>
                                <th>CF Values</th>
                                <th>Plucking Round</th>
                                <th>01</th>
                                <th>02</th>
                                <th>03</th>
                                <th>04</th>
                                <th>05</th>
                                <th>06</th>
                                <th>07</th>
                                <th>08</th>
                                <th>09</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                                <th>31</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in growing_cycles %}
                            <tr>
                                <td>{{ data.zone }}</td>
                                <td>{{ data.fields }}</td>
                                <td>{{ data.growing_days }}</td>
                                <td>{{ data.cf }}</td>
                                <td>{{ data.date }}</td>
                                <td>{{ data.balance }}</td>
                                <td>{{ data.cf_values }}</td>
                                <td>{{ data.plucking_round }}</td>
                                <th>{{ data.Month_day_01 }}</th>
                                <th>{{ data.Month_day_02 }}</th>
                                <th>{{ data.Month_day_03 }}</th>
                                <th>{{ data.Month_day_04 }}</th>
                                <th>{{ data.Month_day_05 }}</th>
                                <th>{{ data.Month_day_06 }}</th>
                                <th>{{ data.Month_day_07 }}</th>
                                <th>{{ data.Month_day_08 }}</th>
                                <th>{{ data.Month_day_09 }}</th>
                                <th>{{ data.Month_day_10 }}</th>
                                <th>{{ data.Month_day_11 }}</th>
                                <th>{{ data.Month_day_12 }}</th>
                                <th>{{ data.Month_day_13 }}</th>
                                <th>{{ data.Month_day_14 }}</th>
                                <th>{{ data.Month_day_15 }}</th>
                                <th>{{ data.Month_day_16 }}</th>
                                <th>{{ data.Month_day_17 }}</th>
                                <th>{{ data.Month_day_18 }}</th>
                                <th>{{ data.Month_day_19 }}</th>
                                <th>{{ data.Month_day_20 }}</th>
                                <th>{{ data.Month_day_21 }}</th>
                                <th>{{ data.Month_day_22 }}</th>
                                <th>{{ data.Month_day_23 }}</th>
                                <th>{{ data.Month_day_24 }}</th>
                                <th>{{ data.Month_day_25 }}</th>
                                <th>{{ data.Month_day_26 }}</th>
                                <th>{{ data.Month_day_27 }}</th>
                                <th>{{ data.Month_day_28 }}</th>
                                <th>{{ data.Month_day_29 }}</th>
                                <th>{{ data.Month_day_30 }}</th>
                                <th>{{ data.Month_day_31 }}</th>
                                <td><a class="btn btn btn-block text-light h2 btn btn-info"
                                       style="background-color: #0000ff; border: none;"
                                       href="{% url 'growingcycle-edit' data.id %}">+</a></td>
                                <td><a class="btn btn-info btn-block btn h2 btn-info text-light"
                                       style="background-color: #ff0000; border: none;"
                                       href="{% url 'growingcycle-delete' data.id %}">-</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}