{% extends 'base.html' %}

{% load static %}
<!--signup  and logout function-->

{% block body %}


<section class=" text-center text-lg-start">
    <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }




    </style>
    <div class="container-fluid text-primary d-flex align-items-center justify-content-center"
         style="height:300erm; width: 100rem; border-radius: 20px;">
        <div class="container-fluid d-flex text-right card card-light mx-4 px-4 my-4 py-4"
             style="background-color: rgba(13, 70, 10, 0.9); border-radius: 20px">
            <div class="card mb-3">
                <div class="row g-0 d-flex align-items-center">
                    <div class="text-center">
                        <h1>User Registration</h1>
                    </div>
                    <h5 class="text-center">Sign up here</h5>
                    <div class="col-md-4" style="height:100erm; width: 30rem; border-radius: 20px;">
                        <img src="/static/images/slide 41.jpg" class="d-block w-100 h-80" alt="...">
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body py-5 px-md-5">
                            <!-- Email input -->
                            <form action="" method="post" novalidate>

                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="er">{{error}}</p>
                                {% endfor %}
                                {% endif %}
                                {% for fm in form %}
                                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                                {% endfor %}
                                <input type="submit" value="Submit">
                                <a class="btn btn btn-info" href="{% url 'login' %}">Login</a>
                            </form>
                            {% if messages %}
                            {% for message in messages %}
                            <small {% if message.tags %} class="{{message.tags}}" {% endif %}></small>
                            {% endfor%}
                            {% endif %}

                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                                <div class="col d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                               checked/>
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- Simple link -->
                                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="height:100erm; width: 30rem; border-radius: 20px;">
                        <img src="/static/images/slide 40.jpg" class="d-block w-100 h-80" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

