<table>
  <tr>
    <th colspan='8'>Zone G</th>
  </tr>
  <tr>
    <th>Field</th>
    <th>Leaf Type</th>
    <th>Ha</th>
    <th>Days to Plk</th>
    <th>Prune Age</th>
    <th>Num of Schemes</th>
    <th>Growing Days C/f</th>
    <th></th>
  </tr>
  <tr>
    <td><input type='text' name='zone=Zone G&key=Field&index=0' value='5' /></td>
    <td><input type='text' name='zone-Zone G-key-Leaf_Type-index-0' value='SD' /></td>
    <td><input type='text' name='zone=Zone G&key=Ha&index=0' value='13.02' /></td>
    <td><input type='text' name='zone=Zone G&key=Days_to_Plk&index=0' value='1' /></td>
    <td><input type='text' name='zone=Zone G&key=Prune_Age&index=0' value='2' /></td>
    <td><input type='text' name='zone=Zone G&key=Num_of_Schemes&index=0' value='185' /></td>
    <td><input type='text' name='zone=Zone G&key=Growing_Days_C_f&index=0' value='1' /></td>
    <td></td>
  </tr>
  <tr>
    <td><input type='text' name='zone=Zone G&key=Field&index=1' value='3' /></td>
    <td><input type='text' name='zone-Zone G-key-Leaf_Type-index-1' value='SD' /></td>
    <td><input type='text' name='zone=Zone G&key=Ha&index=1' value='8.27' /></td>
    <td><input type='text' name='zone=Zone G&key=Days_to_Plk&index=1' value='2' /></td>
    <td><input type='text' name='zone=Zone G&key=Prune_Age&index=1' value='2' /></td>
    <td><input type='text' name='zone=Zone G&key=Num_of_Schemes&index=1' value='145' /></td>
    <td><input type='text' name='zone=Zone G&key=Growing_Days_C_f&index=1' value='2' /></td>
    <td></td>
  </tr>
  <tr>
    <td><input type='text' name='zone=Zone G&key=Field&index=2' value='7' /></td>
    <td><input type='text' name='zone-Zone G-key-Leaf_Type-index-2' value='VP' /></td>
    <td><input type='text' name='zone=Zone G&key=Ha&index=2' value='14.99' /></td>
    <td><input type='text' name='zone=Zone G&key=Days_to_Plk&index=2' value='1' /></td>
    <td><input type='text' name='zone=Zone G&key=Prune_Age&index=2' value='2' /></td>
    <td><input type='text' name='zone=Zone G&key=Num_of_Schemes&index=2' value='225' /></td>
    <td><input type='text' name='zone=Zone G&key=Growing_Days_C_f&index=2' value='1' /></td>
    <td></td>
  </tr>
</table>

