<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'first-page' %}">
            <img src="{{ 'static/images/logo.jpg' }}" width="30" height="30" class="d-inline-block align-top" alt="">
        <h3>Simkip.com</h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=""></a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'psp-dashboard'%}">Dashboard</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'psp-graphs' %}">PSP Graphs</a></li>
                <li class="nav-item">
                <li class="nav-item"><a class="nav-link" href="{% url 'roundsmonitor-record' %}">Roundsmonitor</a></li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'programmedscheme-record' %}">Programmed-Scheme</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'fields-record' %}">Fields Record</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autofields-record' %}">Autofields</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'plucking-rounds-create' %}">Rounds</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{{'http://127.0.0.1:8000/admin/' }}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{{'http://127.0.0.1:8000/resourcesexcell-admin/' }}">
                    Resourcesexcell Admin</a></li>

                {% else %}

                {% endif %}
            </ul>
            <div class="float right">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'password_reset' %}">ResetPassword</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'first-page'"></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'signup' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>