<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<html>
  <head>
    <title>Plucking Rounds</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h2>Plucking Rounds</h2>
    <h3>KAKUZI PLC - KABOSWA ESTATE</h3>
    <h3>Green Leaf Targets</h3>
    <h4>Program Scheme Plucking</h4>
    <table>
      <tr>
        <th>Zone/Fields Type (VP/SD)</th>
        <th>Ha.</th>
        <th>Days to Plk</th>
        <th>Prune Age # of Schemes</th>
        <th>Growing Days</th>
        <th>C/f</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
      </tr>
      <tr>
        <td>ZONE E</td>
        <td>12 VP 12.93</td>
        <td>1</td>
        <td>2</td>
        <td>185</td>
        <td>8</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>5 SD 13.02</td>
        <td>1</td>
        <td>2</td>
        <td>145</td>
        <td>3</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>4</td>
        <td>3</td>
        <td>4</td>
        <td>3 SD 8.27</td>
        <td>1</td>
        <td>2</td>
        <td>92</td>
        <td>1</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>15 VP 10.65</td>
        <td>1</td>
        <td>0</td>
        <td>152</td>
        <td>2</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>7 SD 14.99</td>
      </tr>
      <tr>
        <td>1</td>
        <td>3</td>
        <td>167</td>
        <td>0</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>14 VP 22.60</td>
        <td>2</td>
        <td>4</td>
        <td>323</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>TP</td>
        <td>Total 82.46</td>
      </tr>
      <tr>
        <td>Ha/Day Tgt 10</td>
        <td>Pluckers req 133</td>
        <td>Daily Actual »</td>
        <td>ZONE F</td>
        <td>11 SD 16.01</td>
        <td>2</td>
        <td>2</td>
        <td>178</td>
        <td>9</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>10 SD 22.55</td>
        <td>3</td>
        <td>1</td>
        <td>251</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>2 VP 7.41</td>
        <td>1</td>
        <td>1</td>
        <td>106</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>42 VP 7.51</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>107</td>
        <td>2</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>6 SD 17.00</td>
        <td>2</td>
        <td>0</td>
        <td>189</td>
        <td>1</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>43 VP 4.6</td>
        <td>1</td>
        <td>1</td>
        <td>66</td>
        <td>1</td>
        <td>8</td>
        <td>8</td>
        <td>8</td>
        <td>13 VP 14.34</td>
        <td>1</td>
        <td>1</td>
        <td>205</td>
        <td>2</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>9 SD 20.43</td>
      </tr>
      <tr>
        <td>2</td>
        <td>3</td>
        <td>227</td>
        <td>1</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>4 VP 16.36</td>
        <td>2</td>
        <td>3</td>
        <td>234</td>
        <td>0</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>Total 75.08</td>
        <td>896</td>
        <td>9</td>
        <td>Pluckers req 112</td>
        <td>Daily Actual »</td>
        <td>ZONE G</td>
        <td>8 VP 9.07</td>
        <td>1</td>
        <td>3</td>
        <td>130</td>
        <td>7</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>1 SD 17.06</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
        <td>190</td>
        <td>7</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>44 VP 7.19</td>
        <td>1</td>
        <td>2</td>
        <td>103</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>13 VP 14.34</td>
        <td>1</td>
        <td>1</td>
        <td>205</td>
        <td>2</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>9 SD 20.43</td>
        <td>2</td>
        <td>3</td>
        <td>227</td>
        <td>1</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>4 VP 16.36</td>
      </tr>
      <tr>
        <td>2</td>
        <td>3</td>
        <td>234</td>
        <td>0</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>7</td>
        <td>8</td>
        <td>2 VP 10.95</td>
        <td>1</td>
        <td>1</td>
        <td>155</td>
        <td>2</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>5</td>
        <td>Total 84.45</td>
        <td>1087</td>
        <td>11</td>
        <td>Pluckers req 128</td>
        <td>Daily Actual »</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>