{% extends 'base.html' %}

{% load static %}

{% block title %} Plucking Requirements {% endblock %}

{% block body %}

<html>
  <head>
    <title>Plucking Requirements</title>
  </head>
  <body>
    <h1>Plucking Requirements</h1>
    <h2>Total Ha: {{ total_ha }}</h2>
    <h2>Total Days: {{ total_days }}</h2>
    <h2>Ha/Day Target: {{ ha_day_target }}</h2>
    <h2>Pluckers Required: {{ pluckers_req }}</h2>
    <table>
      <tr>
        <th>Zone/Fields</th>
        <th>Type(VP/SD)</th>
        <th>Ha.</th>
        <th>Days to Plk</th>
        <th>Prune Age</th>
        <th># of Schemes</th>
        <th>Growing Days C/f</th>
      </tr>
      {% for index, row in df.iterrows %}
        <tr>
          <td>{{ row.Zone.Fields }}</td>
          <td>{{ row.Type }}</td>
          <td>VP/SD</td>
          <td>{{ row.Ha. }}</td>
          <td>{{ "row.Days 'to Plk'" }}</td>
          <td>{{ row.PruneAge }}</td>
          <td>{{ row.Number_of_Schemes }}</td>
          <td>{{ 'row.Growing Days C/F' }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
{% endblock %}