{% extends 'base.html' %}

{% load static %}

{% block title %}Spare Code{% endblock %}
{% block body %}


{% endblock %}


<!--<html>-->
<!--    <head>-->
<!--        <title>Tea Plucking Planner</title>-->
<!--    </head>-->

<!--    <body>-->
<!--        <h1>Tea Plucking Planner</h1>-->
<!--        <form action="" method="POST">-->
<!--            <label for="division_area">Division Area:</label>-->
<!--            <input type="number" name="division_area" required><br>-->
<!--            <label for="vp_percentage">VP Percentage:</label>-->
<!--            <input type="number" name="vp_percentage" min="0" max="100" required><br>-->
<!--            <label for="seedling_percentage">Seedling Percentage:</label>-->
<!--            <input type="number" name="seedling_percentage" min="0" max="100" required><br>-->
<!--            <label for="month">Select Month:</label>-->
<!--            <select name="month" required>-->
<!--                <option value="January">January</option>-->
<!--                <option value="February">February</option>-->
<!--                <option value="March">March</option>-->
<!--                <option value="April">April</option>-->
<!--                <option value="May">May</option>-->
<!--                <option value="June">June</option>-->
<!--                <option value="July">July</option>-->
<!--                <option value="August">August</option>-->
<!--                <option value="September">September</option>-->
<!--                <option value="October">October</option>-->
<!--                <option value="November">November</option>-->
<!--                <option value="December">December</option>-->
<!--            </select><br>-->
<!--            <input type="submit" value="Submit">-->
<!--        </form>-->

<!--{% if request.method == "POST" %}-->
<!--<p>-->
<!--Pluckers per block VP: {{ pluckers_per_block_vp }}<br>-->
<!--Pluckers per block Seedling: {{ pluckers_per_block_seedling }}<br>-->
<!--VP Blocks per Zone: {{ vp_blocks_per_zone }}<br>-->
<!--Seedling Blocks per Zone: {{ seedling_blocks_per_zone }}<br>-->
<!--VP Zone Size: {{ vp_zone_size }} Ha's<br>-->
<!--Seedling Zone Size: {{ seedling_zone_size }} Ha's<br>-->
<!--VP Schemes per Division: {{ vp_schemes_per_division }}<br>-->
<!--Seedling Schemes per Division: {{ seedling_schemes_per_division }}<br>-->
<!--VP Rounds per Zone: {{ vp_rounds_per_zone }} days<br>-->
<!--Seedling Rounds per Zone: {{ seedling_rounds_per_zone }} days<br>-->
<!--Total Pluckers per Division: {{ total_pluckers_per_division }}<br>-->
<!--Total Supervisors per Division: {{ total_supervisors_per_division }}<br>-->
<!--Total Schemes per Division: {{ total_schemes_per_division }}<br>-->
<!--Division Area: {{ division_area }} Ha's<br>-->
<!--Total Working Days: {{ total_working_days }} days<br>-->
<!--{% for month in plucking_days.public_holidays %} {% if plucking_days.public_holidays.get(month) %}-->
<!--                Public Holidays ({{ month }}): {{ plucking_days.public_holidays.get(month) }} days<br>-->
<!--{% endfor %}-->
<!--{% for month in plucking_days.paydays %}-->
<!--Paydays ({{ month }}): {{ plucking_days.paydays[month] }} days<br>-->
<!--{% endfor %}-->
<!--</p>-->
<!--{% endif %}-->

<!--    </body>-->
<!--</html>-->



<!--{% if request.method == "POST" %}-->
<!--            <p>-->
<!--            Pluckers per block VP: {{ pluckers_per_block_vp }}<br>-->
<!--            Pluckers per block Seedling: {{ pluckers_per_block_seedling }}<br>-->
<!--            VP Blocks per Zone: {{ vp_blocks_per_zone }}<br>-->
<!--            Seedling Blocks per Zone: {{ seedling_blocks_per_zone }}<br>-->
<!--            VP Zone Size: {{ vp_zone_size }} Ha's<br>-->
<!--            Seedling Zone Size: {{ seedling_zone_size }} Ha's<br>-->
<!--            VP Schemes per Division: {{ vp_schemes_per_division }}<br>-->
<!--            Seedling Schemes per Division: {{ seedling_schemes_per_division }}<br>-->
<!--            VP Rounds per Zone: {{ vp_rounds_per_zone }} days<br>-->
<!--            Seedling Rounds per Zone: {{ seedling_rounds_per_zone }} days<br>-->
<!--            Total Pluckers per Division: {{ total_pluckers_per_division }}<br>-->
<!--            Total Supervisors per Division: {{ total_supervisors_per_division }}<br>-->
<!--            Total Schemes per Division: {{ total_schemes_per_division }}<br>-->
<!--            Division Area: {{ division_area }} Ha's<br>-->
<!--            Total Working Days: {{ total_working_days }} days<br>-->
<!--            {% if plucking_days.public_holidays.get(month) %}-->
<!--                Public Holidays ({{ month }}): {{ plucking_days.public_holidays.get(month) }} days<br>-->
<!--            {% endif %}-->
<!--            {% if plucking_days.paydays.get(month) %}-->
<!--                Paydays ({{ month }}): {{ plucking_days.paydays.get(month) }} days<br>-->
<!--            {% endif %}-->
<!--            </p>-->
<!--{% endif %}-->


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Tea Plucking Planner</title>-->
<!--</head>-->
<!--{% block body %}-->
<!--<table>-->
<!-- <h1>Tea Plucking Planner</h1>-->
<!--    <form method="POST">-->
<!--      {% csrf_token %}-->
<!--      Division Area: <input type="text" name="division_area" value="{{ division_area|floatformat:2 }}" />-->
<!--      VP Percentage: <input type="text" name="vp_percentage" value="{{ vp_percentage|floatformat:2 }}" />-->
<!--      Seedling Percentage: <input type="text" name="seedling_percentage" value="{{ seedling_percentage|floatformat:2 }}" />-->
<!--Month:-->

<!--<form>-->
<!--    <label>Total Working Days</label>-->
<!--    <select>-->
<!--        <option value="January">January - total days:31</option>-->
<!--        <option value="February">February - total days:28</option>-->
<!--        <option value="March">March - total days:31</option>-->
<!--        <option value="April">April - total days:30</option>-->
<!--        <option value="May">May - total days:31</option>-->
<!--        <option value="June">June - total days:30</option>-->
<!--        <option value="July">July - total days:31</option>-->
<!--        <option value="August">August - total days:31</option>-->
<!--        <option value="September">September - total days:30</option>-->
<!--        <option value="October">October - total days:31</option>-->
<!--        <option value="November">November - total days:30</option>-->
<!--        <option value="December">December - total days:31</option>-->
<!--    </select>-->
<!--    <label>Public Holidays</label>-->
<!--    <select>-->
<!--        <option value="January">January - public holidays: 1</option>-->
<!--        <option value="February">February - public holidays: 0</option>-->
<!--        <option value="March">March - public holidays: 0</option>-->
<!--        <option value="April">April - public holidays: 3</option>-->
<!--        <option value="May">May - public holidays: 1</option>-->
<!--        <option value="June">June - public holidays: 2</option>-->
<!--        <option value="July">July - public holidays: 0</option>-->
<!--        <option value="August">August - public holidays: 0</option>-->
<!--        <option value="September">September - public holidays: 0</option>-->
<!--        <option value="October">October - public holidays: 2</option>-->
<!--        <option value="November">November - public holidays: 0</option>-->
<!--        <option value="December">December - public holidays: 3</option>-->
<!--    </select>-->
<!--    <label>Paydays</label>-->
<!--    <select>-->
<!--        <option value="January">January - paydays: 25</option>-->
<!--        <option value="February">February - paydays: 24</option>-->
<!--        <option value="March">March - paydays: 27</option>-->
<!--        <option value="April">April - paydays: 24</option>-->
<!--        <option value="May">May - paydays: 26</option>-->
<!--        <option value="June">June - paydays: 25</option>-->
<!--        <option value="July">July - paydays: 26</option>-->
<!--        <option value="August">August - paydays: 26</option>-->
<!--        <option value="September">September - paydays: 26</option>-->
<!--        <option value="October">October - paydays: 24</option>-->
<!--        <option value="November">November - paydays: 26</option>-->
<!--        <option value="December">December - paydays: 23</option>-->
<!--    </select>-->
<!--</form>-->
<!--      <input type="submit" value="Submit" />-->
<!--    </form>-->
<!--    <h2>Results</h2>-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Parameter</th>-->
<!--                <th>Value</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>VP Division Area</td>-->
<!--                <td>{{ vp_division_area|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Seedling Division Area</td>-->
<!--                <td>{{ seedling_division_area|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>VP Blocks per Zone</td>-->
<!--                <td>{{ vp_blocks_per_zone|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Seedling Blocks per Zone</td>-->
<!--                <td>{{ seedling_blocks_per_zone|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>VP Zone Size</td>-->
<!--                <td>{{ vp_zone_size|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Seedling Zone Size</td>-->
<!--                <td>{{ seedling_zone_size|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>VP Schemes per Division</td>-->
<!--                <td>{{ vp_schemes_per_division|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Seedling Schemes per Division</td>-->
<!--                <td>{{ seedling_schemes_per_division|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Total Working Days</td>-->
<!--                <td>{{ total_working_days|floatformat:2 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>VP Rounds per Zone</td>-->
<!--                <td>{{ vp_rounds_per_zone|floatformat:0 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Seedling Rounds per Zone</td>-->
<!--                <td>{{ seedling_rounds_per_zone|floatformat:0 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Total Pluckers per Division</td>-->
<!--                <td>{{ total_pluckers_per_division|floatformat:0 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Total Supervisors per Division</td>-->
<!--                <td>{{ total_supervisors_per_division|floatformat:0 }}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Total Schemes per Division</td>-->
<!--                <td>{{ total_schemes_per_division|floatformat:0 }}</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <tr>-->
<!--        <th>Month</th>-->
<!--        <th>Public Holidays</th>-->
<!--        <th>Paydays</th>-->
<!--        <th>Working Days</th>-->
<!--    </tr>-->
<!--    {%  for month, holidays, paydays in plucking_days %}-->
<!--    <tr>-->
<!--        <td>{{ month }}</td>-->
<!--        <td>{{ holidays }}</td>-->
<!--        <td>{{ paydays }}</td>-->
<!--        <td>{{ total_working_days.index }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->



<!--<!DOCTYPE html>-->
<!--<html>-->
<!--{% block body %}-->
<!--<head>-->
<!--    <title>Plucking Planner</title>-->
<!--</head>-->

<!--<body>-->
<!--    <h1>Plucking Planner</h1>-->
<!--    <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'plucking_planner_save_data' %}">Go To-->
<!--                    Plucking Planner Save Data</a>-->
<!--    <form method="post" action="">-->
<!--        {% csrf_token %}-->
<!--        <div>-->
<!--            <label>Division Area:</label>-->
<!--            <input type="text" name="division_area">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>VP Percentage:</label>-->
<!--            <input type="text" name="vp_percentage">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Percentage:</label>-->
<!--            <input type="text" name="sd_percentage">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Month:</label>-->
<!--            <select name="month">-->
<!--                <option value="January">January</option>-->
<!--                <option value="February">February</option>-->
<!--                <option value="March">March</option>-->
<!--                <option value="April">April</option>-->
<!--                <option value="May">May</option>-->
<!--                <option value="June">June</option>-->
<!--                <option value="July">July</option>-->
<!--                <option value="August">August</option>-->
<!--                <option value="September">September</option>-->
<!--                <option value="October">October</option>-->
<!--                <option value="November">November</option>-->
<!--                <option value="December">December</option>-->
<!--            </select>-->
<!--            <form>-->
<!--    <label>Total Working Days</label>-->
<!--    <select>-->
<!--        <option value="January">January - total days:31</option>-->
<!--        <option value="February">February - total days:28</option>-->
<!--        <option value="March">March - total days:31</option>-->
<!--        <option value="April">April - total days:30</option>-->
<!--        <option value="May">May - total days:31</option>-->
<!--        <option value="June">June - total days:30</option>-->
<!--        <option value="July">July - total days:31</option>-->
<!--        <option value="August">August - total days:31</option>-->
<!--        <option value="September">September - total days:30</option>-->
<!--        <option value="October">October - total days:31</option>-->
<!--        <option value="November">November - total days:30</option>-->
<!--        <option value="December">December - total days:31</option>-->
<!--    </select>-->
<!--    <label>Public Holidays</label>-->
<!--    <select>-->
<!--        <option value="January">January - public holidays: 1</option>-->
<!--        <option value="February">February - public holidays: 0</option>-->
<!--        <option value="March">March - public holidays: 0</option>-->
<!--        <option value="April">April - public holidays: 3</option>-->
<!--        <option value="May">May - public holidays: 1</option>-->
<!--        <option value="June">June - public holidays: 2</option>-->
<!--        <option value="July">July - public holidays: 0</option>-->
<!--        <option value="August">August - public holidays: 0</option>-->
<!--        <option value="September">September - public holidays: 0</option>-->
<!--        <option value="October">October - public holidays: 2</option>-->
<!--        <option value="November">November - public holidays: 0</option>-->
<!--        <option value="December">December - public holidays: 3</option>-->
<!--    </select>-->
<!--    <label>Paydays</label>-->
<!--    <select>-->
<!--        <option value="January">January - paydays: 25</option>-->
<!--        <option value="February">February - paydays: 24</option>-->
<!--        <option value="March">March - paydays: 27</option>-->
<!--        <option value="April">April - paydays: 24</option>-->
<!--        <option value="May">May - paydays: 26</option>-->
<!--        <option value="June">June - paydays: 25</option>-->
<!--        <option value="July">July - paydays: 26</option>-->
<!--        <option value="August">August - paydays: 26</option>-->
<!--        <option value="September">September - paydays: 26</option>-->
<!--        <option value="October">October - paydays: 24</option>-->
<!--        <option value="November">November - paydays: 26</option>-->
<!--        <option value="December">December - paydays: 23</option>-->
<!--    </select>-->
<!--</form>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit">Submit</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    {% if data %}{% endif %}-->
<!--    <h2>Plucking Planner</h2>-->
<!--    <table>-->
<!--        <form method="post" action="">-->
<!--        {% csrf_token %}-->
<!--        <div>-->
<!--            <label>VP Division Area:</label>-->
<!--            <input type="text" name="vp_division_area">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Division Area:</label>-->
<!--            <input type="text" name="sd_division_area">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>VP Blocks per Zone:</label>-->
<!--            <input type="text" name="vp_blocks_per_zone">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Blocks per Zone:</label>-->
<!--            <input type="text" name="sd_blocks_per_zone">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>VP Zone Size:</label>-->
<!--            <input type="text" name="vp_zone_size">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Zone Size:</label>-->
<!--            <input type="text" name="sd_zone_size">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>VP Schemes per Division:</label>-->
<!--            <input type="text" name="vp_schemes_per_division">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Schemes per Division:</label>-->
<!--            <input type="text" name="sd_schemes_per_division">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>VP Rounds per Zone:</label>-->
<!--            <input type="text" name="vp_rounds_per_zone">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Sd Rounds per Zone:</label>-->
<!--            <input type="text" name="sd_rounds_per_zone">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Total Pluckers per Division:</label>-->
<!--            <input type="text" name="total_pluckers_per_division">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Total Supervisors per Division:</label>-->
<!--            <input type="text" name="total_supervisors_per_division">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Total Schemes per Division:</label>-->
<!--            <input type="text" name="total_schemes_per_division">-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="submit">Submit</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    {% if data %}-->
<!--    <h2>Plucking Planner Results</h2>-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Data</th>-->
<!--                <th>Result</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for row in data %}-->
<!--            <tr>-->
<!--                <td>{{ row.0 }}</td>-->
<!--                <td>{{ row.1 }}</td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--    </table>-->
<!--    {% endif %}-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->
